@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One|Fjalla+One&display=swap');
A:link {text-decoration: none }
A:visited {text-decoration: none }
A:hover {text-decoration: none }
body{
  background-color: rgb(242, 242, 242);
  width: 100%;
  height: 100%;
}

.images {
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.registrodiv {
  height: 20rem ;
  width: 10rem;
}

.logo{
  width: 100px;
  height: 50px;
  background-image: url("../imagenes/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
nav{
  background-color: white;
  -webkit-box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
  -moz-box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
  box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
}
.cajas{
  display: flex;
  justify-content: center;
  background-color: white;
border-radius: 20px;
margin: 10px;
padding: 10px;
-webkit-box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);

}
.cajas2{
  padding: 0px;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  background-color: white;
border-radius: 20px;
margin: 10px;
margin-top: 30px;
-webkit-box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
-moz-box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);

}
.thumbnail2{
  width: 50%;
  height: 100%;
padding: 3%;
}
.cajaTemporada{
  padding-right: 0px;
  display: flex;
  color: white;
  height: 200px;
  background-image: url("../imagenes/temporada1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  align-items: center;
}
.cajaTemporada2{
  border-radius: 20px;
  background-image: url("../imagenes/temporada1.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  background-color: white;
padding: 10px;
width: 50%;
}
h4{
  text-align: center;
}

#somos{
  background-image: url("../imagenes/somos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.titleTemporada{
  width: 50%;
  height: 100%;

}
.titleSaludo{
  width: 30%;
height: 100%;
background-image: url("../imagenes/publi.png");
background-size: cover;
background-repeat: no-repeat;
 display: flex;
justify-content: end;
align-items: center;
border-radius: 20px;
padding: 10px;

}
#title{
  margin-left: 20px;
  font-size: 45pt;
  margin-top: 5%;
  font-family: 'Faster One', cursive;
}
#title2{
  display: inline;
  color: white;
  font-family: 'Faster One', cursive;
}
#titleyear{

  margin-left: 20px;

  font-family: 'Faster One', cursive;
}
#titleyear2{
  display: inline;

  color: white;
  font-family: 'Faster One', cursive;
}
#bienvenido{
  border-radius: 10px;

margin-top: 50%;
font-family: 'Fjalla One', sans-serif;
font-size: 25pt;
padding: 4px;
  text-align: center;
  -webkit-box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
  -moz-box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
  box-shadow: 6px 10px 31px -3px rgba(0,0,0,0.23);
background-color: rgba(0, 0, 0, 0.2);
}

#subir
{
  background: none;
  display: none;
  border: 0px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
}

#subir:hover {
  /*background-color: #f00; Add a dark-grey background on hover */
}
